<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="google-signin-client_id"
        content="151257872007-476ikj03u91toet3mvdshtpnjk9p44af.apps.googleusercontent.com">
    <title>登入</title>
    {% load staticfiles %}
    <link rel=stylesheet type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.3&appId=1347009465447844&autoLogAppEvents=1"></script>
    <div id="status_msg">
        Success
    </div>
    <div id="tab_login" class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login_tab">登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#register_tab">註冊</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="login_tab" class="container tab-pane active tab_login_inner"><br>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>使用者名稱:</td>
                        <td><input id="login_account" type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td>密碼:</td>
                        <td><input id="login_password" type="password" name="password"></td>
                    </tr>
                    <!-- <tr> -->
                    <!-- <td><input id="login_submit" class="btn btn-primary btn-block" type="submit" value="登入"></td> -->
                    <!-- <td>
                            <div class="fb-login-button" data-width="" data-size="small" data-button-type="login_with"
                                data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email"
                                onlogin="checkLoginState();">
                            </div>
                        </td> -->
                    <!-- </tr> -->
                    <!-- <tr>
                        <td>
                            <div class="g-signin2" data-onsuccess="onSignIn" onclick="(function(){gSuccessCount+=1}())"
                                style="height:22px; width:73px;">
                            </div>
                        </td>
                    </tr> -->
                </table>
                <br>
                <td><input id="login_submit" class="btn btn-primary btn-block" type="submit" value="登入"></td>
                <br>
                <div class="fb-login-button" data-width="290" data-size="large" data-button-type="login_with"
                    data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email"
                    onlogin="checkLoginState();">
                </div>
                <br>
                <br>
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-width="290" data-height="40"
                    onclick="(function(){gSuccessCount+=1}())">
                </div>
            </div>
            <div id="register_tab" class="container tab-pane fade tab_login_inner"><br>
                <form action="{% url 'api_v2:getUserListCbv' %}" method="POST" id="register_form">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>使用者名稱:</td>
                            <td><input type="text" name="username"></td>
                        </tr>
                        <tr>
                            <td>密碼:</td>
                            <td><input type="password" name="password"></td>
                        </tr>
                        <tr>
                            <td>電子信箱:</td>
                            <td><input type="email" name="email"></td>
                        </tr>
                        <!-- <tr>
                            <td><input type="submit" class="btn btn-primary" value="註冊"></td>
                        </tr> -->
                    </table>
                    <br>
                    <td><input type="submit" class="btn btn-primary btn-block" value="註冊"></td>
                </form>
            </div>
        </div>
    </div>
    <script src=" http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"> </script>
    <script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                fb_oauth_register(response);
                // window.location.href = "/elibrary/booklist/?page=1";
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status_msg').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1347009465447844',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/zh-TW/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var gSuccessCount = 0;
        function onSignIn(googleUser) {
            if (gSuccessCount > 0) {
                var profile = googleUser.getBasicProfile();
                // console.log('Image URL: ' + profile.getImageUrl());
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);
                var response = {
                    "id": profile.getId(),
                    "name": profile.getName(),
                    "email": profile.getEmail()
                }
                app_login("google_" + response.id, response.id, "google", response = response)
            } else {
                gSuccessCount += 1;
            }
        }
    </script>
    <script src="http://malsup.github.io/min/jquery.blockUI.min.js"></script>
    <script src="{% static 'login.js' %}"></script>
</body>

</html>
