Django==2.2.20
djangorestframework==3.9.0
PyJWT==1.7.1
django_fsm==2.6.1
django_environ==0.4.5
mysqlclient==1.4.2
django-redis==4.10.0
gunicorn==19.9.0
whitenoise==5.0.1
braintree==3.55.0
celery==4.3.0
confluent-kafka==1.5.0

# frontend
aiohttp==3.5.4
requests==2.24.0

# websocket
asgiref==3.2.3
channels==2.4.0
channels_redis==2.4.0

# development
factory_boy==2.12.0
django_debug_toolbar==1.11
drf_extensions==0.4.0
django_extensions==2.1.6
django-werkzeug-debugger-runserver==0.3.1
ipdb==0.12.2

# monitor
newrelic==5.8.0.136
rollbar==0.14.7

djangorestframework_simplejwt==4.1.3
