<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
        content="151257872007-476ikj03u91toet3mvdshtpnjk9p44af.apps.googleusercontent.com">
    <title>登入</title>

    {% load staticfiles %}

    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel=stylesheet type="text/css" href="{% static 'login.css' %}">
</head>

<body>
    <!-- FB initial -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.3&appId=1347009465447844&autoLogAppEvents=1"></script>

    <!-- Google initial -->
    <script src="//apis.google.com/js/platform.js" async defer></script>

    {% include 'status_message.html' %}

    <div class="container">
        <div class="row mb-3 pt-3">
            <div class="col-12">
                <h1 style="text-align: center;">
                    <strong>eLibrary</strong>
                </h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <div class="card">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item text-center">
                                <a class="nav-link active btl" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">
                                    註冊
                                </a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link btr" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">
                                    登入
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="form px-4">
                                    <input id="register-username" type="text" name="" class="form-control" placeholder="使用者名稱">
                                    <input id="register-pwd" type="password" name="" class="form-control" placeholder="密碼">
                                    <input id="register-email" type="email" name="" class="form-control" placeholder="電子信箱">
                                    <button id="register-submit" class="btn btn-dark btn-block">註冊</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="form px-4 pt-5">
                                    <!-- eLibrary sign in -->
                                    <input id="login-account" type="text" name="" class="form-control" placeholder="使用者名稱 or 電子信箱">
                                    <input id="login-password" type="password" name="" class="form-control" placeholder="密碼">
                                    <button id="login-submit" class="btn btn-dark btn-block">登入</button>
                                    <!-- FB sign in -->
                                    <div class="row mb-3 pt-3">
                                        <div class="col-12">
                                            <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                                                data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email"
                                                onlogin="checkLoginState();">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Google sign in -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-width="" data-height="40"
                                                onclick="(function(){gSuccessCount+=1}())">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>

    <!-- FB sign in -->
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                fb_oauth_login(response);
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status-msg-r').innerHTML = 'Please log into this app.';
            }
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1347009465447844',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/zh-TW/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Google sign in -->
    <script>
        var gSuccessCount = 0;
        function onSignIn(googleUser) {
            if (gSuccessCount > 0) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                // console.log('Image URL: ' + profile.getImageUrl());

                var response = {
                    "id": profile.getId(),
                    "name": profile.getName(),
                    "email": profile.getEmail()
                }

                app_login(null, null, "google", response)
            } else {
                gSuccessCount += 1;
            }
        }
    </script>

    <script src="//malsup.github.io/min/jquery.blockUI.min.js"></script>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>
