.card-1 {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #FFFFFF;
}

.container table {
    background-color: #FCFCFC;
}

tfoot .links {
    text-align: right;
}

tfoot .links a {
    display: inline-block;
    padding: 2px 8px;
}

#chatButton {
    width: 100px;
    float: right;
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 20;
}
