<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>書籍清單</title>
    {% load staticfiles %}
    <link rel=stylesheet type="text/css" href="{% static 'book.css' %}">
    <div>
        <nav>
            <select>
                <option value="account" selected disabled style="display:none;">帳號</option>
                <option value="/elibrary/userinfo/">編輯</option>
                <option value="/elibrary/login/">登出</option>
            </select>
        </nav>
    </div>
</head>

<body>
    <h1>書籍清單</h1>
    <table class="woodTable">
        <thead>
            <tr>
                <th colspan="6">
                    <input id="bookname" type="text">
                    <input class="find" type="image" src="{% static 'search.png' %}">
                </th>
            </tr>
            <tr>
                <th>書名</th>
                <th>分類</th>
                <th>作者</th>
                <th>原價</th>
                <th>特價
                    <a href="{% url 'booklist' %}?page=1&order=price_discount">
                        <input id="up" type="image" src="{% static 'up.png' %}">
                    </a>
                    <a href="{% url 'booklist' %}?page=1&order=-price_discount">
                        <input id="down" type="image" src="{% static 'down.png' %}">
                    </a>
                </th>
                <th>我的最愛
                    <a rel="noopener" target="_blank" href="/elibrary/favbooklist/">
                        <input id="book_fav" type="image" src="{% static 'book_fav.png' %}">
                    </a>
                </th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.type_name }}</td>
            <td>{{ book.author_name }}</td>
            <td>{{ book.price_origin }}</td>
            <td>{{ book.price_discount }}</td>
            <td>
                {% if book.id in fav %}
                <input type="image" class="fav" value="{{ book.id }}" src="{% static 'm_fav.png' %}">
                {% elif book.favthis == False %}
                <input type="image" class="fav" value="{{ book.id }}" src="{% static 'm_unfav.png' %}">
                <!-- <button type="button" class="fav" value="{{ book.id }}"><img src="{% static 'm_unfav.png' %}"></button> -->
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="links">
                        {% if has_previous == True %}
                        <a href="{% url 'booklist' %}?page={{ current_page|add:'-1' }}" rel="keep-params">Previous</a>
                        {% endif %}

                        {% for page in "x"|ljust:pages %}
                        {% if forloop.counter == current_page %}
                        <a class="currentPage">{{ forloop.counter }}</a>
                        {% else %}
                        <a href="{% url 'booklist' %}?page={{ forloop.counter }}"
                            rel="keep-params">{{ forloop.counter }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if has_next == True %}
                        <a href="{% url 'booklist' %}?page={{ current_page|add:'1' }}" rel="keep-params">Next</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <script src=" http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"> </script>
    <script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://malsup.github.io/min/jquery.blockUI.min.js"></script>
    <script src="{% static 'book.js' %}"></script>
</body>

</html>