{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Collected Book" %}
{% endblock %}

{% block head %}
<link rel=stylesheet type="text/css" href="{% static 'book.css' %}">
{% endblock %}

{% block body %}

<div class="container table-responsive">
    <div class="row mb-3 pt-3">
	    <div class="col-12">
            <h1 style="text-align: center;">{{ fav_data.username }}的收藏</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <table class="table table-borderless card-1 p-4">
                <thead>
                    <tr class="border-bottom">
                        <th><span class="ml-2">{% trans "Book" %}</span></th>
                        <th><span class="ml-2">{% trans "Type" %}</span></th>
                        <th><span class="ml-2">{% trans "Author" %}</span></th>
                        <th><span class="ml-2">{% trans "Origin Price" %}</span></th>
                        <th><span class="ml-2">{% trans "Price" %}</span></th>
                        <th><span class="ml-2">{% trans "Stock" %}</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in fav_data.books %}
                    <tr class="border-bottom">
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.name }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.type_name }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.author_name }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.price_origin }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.price_discount }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-2">
                                <span class="d-block">{{ book.stock }}</span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
