{% extends 'base.html' %}
{% load static %}

{% block title %}
最愛書籍
{% endblock %}

{% block head %}
<link rel=stylesheet type="text/css" href="{% static 'book.css' %}">
{% endblock %}

{% block body %}
<h1>{{ favbooks.username }}的最愛</h1>
<table class="woodTable">
    <thead>
        <tr>
            <th>書名</th>
            <th>分類</th>
            <th>作者</th>
            <th>原價</th>
            <th>特價</th>
        </tr>
    </thead>
    {% for favbook in favbooks.data %}
    <tr>
        <td>{{ favbook.bookinfo.name }}</td>
        <td>{{ favbook.bookinfo.type_name }}</td>
        <td>{{ favbook.bookinfo.author_name }}</td>
        <td>{{ favbook.bookinfo.price_origin }}</td>
        <td>{{ favbook.bookinfo.price_discount }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
