{% extends 'base.html' %}
{% load static %}

{% block title %}
最愛書籍
{% endblock %}

{% block head %}
<link rel=stylesheet type="text/css" href="{% static 'book.css' %}">
{% endblock %}

{% block body %}
<h1>{{ fav_data.username }}的最愛</h1>
<table class="woodTable">
    <thead>
        <tr>
            <th>書名</th>
            <th>分類</th>
            <th>作者</th>
            <th>原價</th>
            <th>特價</th>
        </tr>
    </thead>
    {% for book in fav_data.books %}
    <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.type_name }}</td>
        <td>{{ book.author_name }}</td>
        <td>{{ book.price_origin }}</td>
        <td>{{ book.price_discount }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
