<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>書籍清單</title>
    {% load staticfiles %}
    <link rel=stylesheet type="text/css" href="{% static 'book.css' %}">
</head>

<body>
    <table class="woodTable">
        <thead>
            <tr>
                <th>書名</th>
                <th>分類</th>
                <th>作者</th>
                <th>原價</th>
                <th>特價</th>
                <th>
                    <a href="/elibrary/favbooklist/">我的最愛</a>
                </th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.type_name }}</td>
            <td>{{ book.author_name }}</td>
            <td>{{ book.price_origin }}</td>
            <td>{{ book.price_discount }}</td>
            <td>
                {% if book.favthis == True %}
                <button type="button" class="fav" value="{{ book.id }}">fav already</button>
                {% elif book.favthis == False %}
                <button type="button" class="fav" value="{{ book.id }}">fav this</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <script src=" http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"> </script>
    <script>
        $.ajaxSetup({
            headers: {
                'Authorization': "JWT " + "{{ pass }}"
            }
        });
        $(document).ready(function () {
            $(".fav").click(function () {
                var that = $(this);
                $.post("/api/favbook/", { 'bookname': $(this).val() }, function (msg) {
                    if (msg.isFavorite) {
                        that.text("fav already");
                    } else {
                        that.text("fav this");
                    }
                })
            })
        });
    </script>
</body>

</html>