<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>使用者</title>
    {% load staticfiles %}
    <link rel=stylesheet type="text/css" href="{% static 'info.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="divTable" style="width: 25%;">
        <h2>使用者資訊</h2>
        <br>
        <div class="divTableBody">
            <!-- <div class="divTableRow">
                <div class="divTableCell">使用者資訊</div>
                <div class="divTableCell"></div>
            </div> -->
            <div class="divTableRow">
                <div class="divTableCell">使用者名稱</div>
                <div class="divTableCell">
                    <input id="username" name="{{ user.id }}" type="text" value="{{ user.username }}">
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">密碼</div>
                <div class="divTableCell">
                    <input id=pass1 type="password" placeholder="請輸入新密碼">
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell">
                    <input id=pass2 type="password" placeholder="請再輸入新密碼">
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">E-mail</div>
                <div class="divTableCell">
                    <input id="useremail" type="email" value="{{ user.email }}">
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">確認更新?</div>
                <div class="divTableCell">
                    <input class="btn btn-primary" id="updateinfo" type="button" value="確認">
                </div>
            </div>
        </div>
    </div>
    <script src=" http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"> </script>
    <script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{% static 'info.js' %}"></script>
</body>
